body {
    font-family: Arial, sans-serif;
    background-image: url(https://i.pinimg.com/564x/b1/3a/05/b13a05aa95c371cac9907424a32865bb.jpg);
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 50px;
    border-radius: 15px;
    border: 20px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    justify-content: left;
    align-items: end;
    margin: 200px;
    margin-left: 500px;
    height: 50%;

}


input {
    max-width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: #44c4f7;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.signup-link {
    text-align: center;
    margin-top: 20px;
  }
  
  .signup-link a {
    color: #4CAF50;
    text-decoration: none;
  }
  
  .signup-link a:hover {
    text-decoration: underline;
  }

  .login-link {
    text-align: center;
    margin-top: 20px;
  }
  
  .login-link a {
    color: #4CAF50;
    text-decoration: none;
  }
  
  .login-link a:hover {
    text-decoration: underline;
  }